API_BIBLE_KEY=hPQQuNGFaqEG8RiX7LIYK
PUBLIC_API_BIBLE_BASE=https://api.scripture.api.bible/v1
PUBLIC_API_BIBLE_BID_ES=e3f420b9665abaeb-01
PUBLIC_API_BIBLE_BID_EN=63097d2a0a2f7db3-01
PUBLIC_BIBLE_API_BASE=https://bible-api.com
